body {
    background-color: #ffffff;
    color: #425563;
    font-family: "Rubik","trebuchet ms",sans-serif;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0 0;
    font-size: 16px;
    letter-spacing: -0.13px;
    text-align: center;
    color: #d3d8dc;
    overflow-y: scroll;
    padding-top: 0px;
    /* padding: 0 10px 10px 10px; */
}
.login-body {
    background-image: url(/icons/login-background.jpg);
    background-size: cover;
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-logo {
    margin-top: 120px;
    width: 100%;
    height: 110.1px;
    object-fit: contain;
}

.main {
    height: 100%;
    align-items: center;
    /* flex-flow: column nowrap;
    display: flex; */
}
.padding {padding: 10px 10px 10px 10px;}
.left-padding {padding-left: 20px !important;}
.smaller-padding {padding: 14px 0 14px 0 !important;}
.body {
    width: 200px;
    flex-direction: column;
    padding-top: 68px;
    display: inline-flex;
    align-items: center;
}

.header {
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: -0.08px;
    color: #ffffff;
    padding: 10px 0 30px 0;
    display: flex;
    flex-flow: wrap;
    justify-content: end;
}
.subtext {
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: -0.08px;
    color: #ffffff;
    padding: 10px 0 30px 0;
    display: flex;
    flex-flow: wrap;
}
.orange-Here {
    color: #ff6900;
    margin-left: 3px;
}
.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
a.button {
    font-family: Rubik;
    font-size: 12px;
    width: 302px;
    height: 27px;
    border-radius: 3px;
    color: #ffffff;
    padding-top: 9px;
    margin-bottom: 10px;
}

input {
    width: 302px;
    height: 32px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 247, 248, 0.85);
}

.top-header {
    display: flex;
    padding: 5px 5px 5px 5px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}
.title {
    width: 100%;
    height: 14px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #555555;
    margin-top: 0px;
}
.header-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.profile-img {
    width: 60px;
    height: 60px;
    border: solid 1px #ff6900;
    border-radius: 50%;
}

.modal {
    display: flex;
    border-radius: 6px;
    color: #ffffff;
}
.dual {display: flex;}
.greeting {
    /* width: 194px; */
    width: 100%;
    height: 25px;
    font-family: Rubik;
    font-size: 19px;
    color: #303d46;
}
.message {
    font-size: 12px;
    width: max-content;
    margin-left: 10px;
}
.date {
    /* width: 150px; */
    width: 100%;
    height: 14px;
    font-family: Rubik;
    font-size: 12px;
    color: #768a99;
}

.referrals {
    /* width: 302px; */
    /* width: 100%; */
    /* height: 170px; */
    min-height: 140px;
    border-radius: 6px;
    box-shadow: -1px 1px 3px 0 rgba(74, 74, 74, 0.29);
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.orange {background-color:#ff6900;}
.grey {background-color:#768a99;}
.blue {background-color: #303d46;}
.white-grey {background-color: #d3d8dc;height:170px; display: flex;}
.white-grey h3 {
    /* width: 115px; */
    width: 100%;
    height: 17px;
    font-family: Rubik;
    font-size: 14px;
    color: #303d46;
    display: flex;
    flex-flow: wrap;
}
.referrals h3, .referrals h4 { 
    width: 93%;
    display: -webkit-box;
    justify-content: space-around;
}




.widget {
    width: 100%;
    height: 170px;
    border-radius: 6px;
    box-shadow: -1px 1px 3px 0 rgba(74, 74, 74, 0.3);
    margin: 5px 5px 5px 5px;
    padding: 25px 0 25px 0;
    /* padding: 0 0 35px 0; */
    flex-flow: column;
    display: grid;
    justify-content: center;
}
.app {height: 51px;color:white;}
.app-icon {height: 18px;width:100px;color:white; opacity: 1;margin-top: 15px;}
.mini {
    /* width: 50%; */
    /* width: 47%;
    height: 72px; */
    /* max-width: 180px; */
    max-height: 50px;
    min-width: 80px;
    min-height: 50px;
    border-radius: 3px;
    /* background-color: #ffffff; */    
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}
.mini-container {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    padding: 0 10px 0 10px;
}
.fade {background: rgba(255, 255, 255, 0.08); }
.fader {background-color: rgba(255, 255, 255, 0.3); display: flow-root;}
.auto-height {height:auto;min-height: 70px;max-height: auto;}
.top-padding {padding: 15px 0 0 0;}

.earnings, .payout {
    font-size: 30px;
    margin: 14px 0 0 0;
    /* width: 105px; */
}

.stage-percent {
    font-size:50px;
}
.stage-percent:first-child, .stage-percent:last-child {
    margin: 0 0 0 0;

}
.text-left {text-align: justify;}

.current_status {
    margin: 19px 0 19px 0;
    border-top: solid 1px #f5f6f6;
    border-bottom: solid 1px #f5f6f6;
    padding-top: 15px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    color: #303d46;
}

.breadcrumb{
    /* width: 100%; */
    min-width: 92%;
    flex-wrap: nowrap;
    display: flex;
    padding-left: 0;
}
.breadcrumb li {
    color: white;
    text-decoration: none; 
    margin: 0px 5px 5px 0px;
    background: #d8d8d8; 
    position: relative; 
    display: block;
    float: left;
    border-radius: 1px;
    width: 29px;
    height: 2px;
}
.breadcrumb .past {background:#768a99; }
.breadcrumb .current {background: #ff6900;}
.breadcrumb .selected {
    outline-style: outset;
    outline-offset: 2px;
    border-radius: 1px;
}
label{
    font-size: 12px;
    color: #303d46;

    justify-content: center;
    display: inline-grid;
}

.finance h3 {
    font-size: 16px;
    color: #ff6900;
    margin-bottom: 0px;
}
.finance p {
    font-size: 14px;
    color: #303d46;
    padding: 0 30px 0 30px;
    margin-top: 8px;
}

.email {
    padding: 0 20px 0 20px;
    flex-flow: wrap;
    justify-content: space-around;
}
.email p {
    font-size: 16px;
    color: #303d46;
    margin-bottom: 0px;
}
.email button {
    font-size: 14px;
    color: #ffffff;
    padding: 0 30px 0 30px;
    margin-top: 8px;
    width: 145px;
    height: 39px;
    border-radius: 4px;
    border: none;
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.button-container{
    display: flex;
    justify-content: space-between;
}

.head-profile {
    justify-content: center;
    flex-flow: column;
    display: flex;
    /* margin-left: 12px; */
    width: 100%;
}
.sold-referrals {font-size:12px;}
.earnings-header, .payout-header { margin: 0 0 10px 0;}

.modal-header:not(.blue) h3 {
    width: 100%;
    padding-left: 18px;
    margin-top: 0;
}

.butt {margin-bottom: 98px;}

p {
    font-size: 10px;
    margin: 0 0 0 0;
}
h4 {font-size:14px; margin: 0 0 0 0 ;}
h5 {
    font-size:12px;
    margin: 0 0 0 0 ;
    /* width: 90px; */
}
.percent-container {min-width: 115px;min-height: 82px;}

/* .mini-container div p {
    width: 95px;
} */

h4 p{width: 50%;}
table {width: 100%;}
tbody {
    /* display: grid;
    margin: 0 0 0 50px;
    width: 100%; */
    display: grid;
    margin: 0 23px 0 50px;
}
.timeline-row {
    /* max-width: 273px; */
    /* width: 100%; */
    /* height: 64px; */
    border-radius: 8px;
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #eceeef;
    margin-bottom: 20px;
    /* margin-right: 23px; */
    padding: 5px 0 0 15px;
    color: #303d46;
}
.timeline-row td p {
    color: #768a99;
}

.timeline-row td:last-child {
    width: 100%;
    position: relative;
}

/* .timeline-row {
    display: list-item; 
    list-style-type: disc;  
} */

.divider {
    /* lines */
    height: 100px;
    padding-bottom: 10px;
    width: 10px;
    margin: 20px auto;
    float: left;
    position: absolute;
    left: 28px;
    border-left: solid 2px #97acbb;
}
.inner {
    /* dota */
    width: 11px;
    height: 11px;
    background-color: #d3d8dc;
    border-radius: 50%;
    display: inline-block;
    margin-top: 19px;
    position: absolute;
    margin: 20px auto;
    float: left;
    left: 24px;
}
.inner.past {background-color: #768a99;}
.inner.current {background-color: #ff6900;}

.right-highlight {
    height: 54px;
    position: absolute;
    right: 2px;
    border-left: solid 3px #b1bbc2;
    top: 0px;
}
.right-highlight.past {border-left: solid 3px #768a99;}
.right-highlight.current {border-left: solid 3px #ff6900;}


tbody tr:last-of-type td div.divider {display: none;}



.referral-button {
    position: fixed;
    bottom: 72px;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    right: 18px;
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0 1px 10px 0 rgba(48, 61, 70, 0.2);
    background-color: #ff6900 !important;
    padding: 15px;
}










.circle {
    width: 100px;
    height: 100px;
    /* opacity: 0.1;*/
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    justify-content: space-around;
    display: flex;
    flex-flow: column;
  }

.toolbar span {
    text-decoration: none;
}
.toolbar a {
    color: #425563;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    /* width: 25%; */
    width: 33.33%;
}
a:focus { outline: 0; }


nav.toolbar {
    padding-top: 6px;
    height: 50px;
    /* width: 100vw; */
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
    border-top: solid 1px #e0e3e5;
    display: flex;
    flex-flow: row nowrap;

    left: auto;
    right: 0px;
}